*{
margin:0;
padding:0;
box-sizing:border-box;
}
body
{
width:100vw;
/* border: 1px solid black; */
}

.container{
  box-sizing: border-box;
  width:50vw;
  padding: 10px 0;
  margin:10px auto;
}

.container img{
  width:100%;
}
button{
  width:100%;
  padding:15px;
  background:linear-gradient(to right, #eef602, #28ff02);
  color:white;
  font-size: 28px;
  cursor:pointer;
}